header{
    background-color: cornflowerblue;
    background-image: url("img/pattern.png");
}
#logo{
    width: 250px;
    padding-top: 150px;
}

/* Titolo */

h1{
    font-size: 50px;
}
p{
    color: gray;
}
h1,p{
    margin: 0;
}

#textblue{
    color: #0089ff;
}