body{
    margin-left: 0;
}
header{
    background-color: cornflowerblue;
    background-image: url("img/pattern.png");
}
#logo{
    width: 250px;
    padding-top: 150px;
}

/* Titolo */

h1{
    font-size: 55px;
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
}
#titolo{
    color: gray;
}
#textblue{
    color: #0089ff;
}

/* immagini articolo */

#bloccoimmagini{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}
#tim1,#tim2{
width: 49%;
height: 577px
}

#tim1{
    ;
}
.textyellow{
    background-color: yellow;
}

table{
    width: 100%;
    table-layout: fixed;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
}
thead{
    background-color:#0089ff ;
    color: white;
}

.rigablu1{
    background-color: #84eafc;
}

#testogrigio2{
    color: grey;;
}

#immagine1{
    height: 225px;
    width: 300px;
    background-image: url(img/monitor.jpg);
    background-repeat: no-repeat;

}

#immagine2{
    height: 225px;
    width: 300px;
    background-image: url(img/graph.jpg);
    background-repeat: no-repeat;

}
.testoimmagine{
    color: white;
    font-size: 30px;
    font-weight: bold;
}