header{
    background-color: cornflowerblue;
    background-image: url("img/pattern.png");
}
#logo{
    width: 250px;
    padding-top: 150px;
}

/* Titolo */

h1{
    font-size: 55px;
    color: black;
    margin-top: 10px;
    margin-bottom: 0;
}
#titolo{
    color: gray;
}
#textblue{
    color: #0089ff;
}

/* immagini articolo */

#immaginiarticolo{
    margin-top: 10px;
    margin-bottom: 10px;
}
#textyellow{
    background-color: yellow;
}